@charset "utf-8";

/*
   Delicious Sweets
   Author:   Penny Roath
   Date:     
   
   Filename: styles.css
   
   This file contains the layout styles used in the Delicious Sweets website.

*/

/* ===========
   Base Styles
   ===========
*/


/* HTML and Body Styles */
html {
	background: rgb(249,109,109);
	height: 100%;
	box-sizing: border-box;
}

body {
	background: rgb(180,180,223);
	border-left: 1px solid rgb(153, 0, 153);
	border-right: 1px solid rgb(153, 0, 153);
	margin: auto;
	min-height: 100%;
	min-width: 320px;
	max-width: 1200px;
	padding: 10px;
	padding-bottom: 6rem;
	position: relative;
}

h1 {
	display: block;
	margin: auto;
	padding-top: 10px;
}

p {
	text-align: center;
}
/* Body Header Styles */
header img {
	display: block;
	width: 80%;
	margin: auto;
}

/* Horizonal Navigation Styles */
nav ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(143,177,233);
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
}

nav ul li a:hover {
  background-color: rgb(68,114,196);
}

.active {
  background-color: rgb(68,114,196);
}


iframe {
	display: block;
	margin: auto;
}

/* Cupcake Table */

table#cupcake {
	background-color: rgb(97,97,211);
	border-radius: 20px;
}

table#cupcake, th, td {
	border: 1px solid black;
	
	border-spacing: 20px;
	margin: auto;
}

table#cupcake th {
	background-color: rgb(249,109,109);
	border-radius: 10px;
}

table#cupcake caption {
	font-size: 50px;
	margin-top: 25px;
}


/* About Us */
h1.aboutUs {
	color: rgb(200,30,188);
	font-size: 4em;
}

p.aboutUs {
	font-size: 1.2em;
	text-align: center;
}

table#aboutTable {
	border-collapse: collapse;
	margin-top: 50px;
	width: 100%;
}


table#aboutTable th {
	background: rgb(200,30,188);
	font-size: 1.5em;
	width: 50%;
}

table#aboutTable td {
	background: rgb(153,217,234);
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

/* Contact Us Form */

form#contact > fieldset {
	background-color: rgb(153,217,234);
	border-radius: 20px;
	height: 80vh;
	padding: 10px;
}

legend {
	background-color: rgb(97,97,211);
	color: white;
	padding: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: none;
}



input[type='submit'] {
	background-color: rgb(249,109,109);
	color: #3B5998;
	cursor: pointer;
	font-size: 1.5em;
	padding: 5px;	
	margin: 15px;
	text-align: center;
	width: 20%;
}

/* Footer Styles */
footer {
  height: 8vh;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(80,113,123);
  color: white;
  text-align: center;
}

footer a {
	color: white;
	text-decoration: none;
}

.fa {
	padding: 20px;
	width: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}